package components

templ Header() {
	<header class="flex justify-center justify-center ">
		<div class=" flex justify-between w-full max-w-3xl">
			<div class="logo">
				<div>Logo</div>
			</div>
			<div class="flex gap-3">
				<div>profile pic</div>
				<button class="logout-btn">Logout</button>
			</div>
		</div>
	</header>
}
